In [1]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np

In [2]:
url_co2 = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/co-emissions-per-capita.csv'
CO2_emissions_df = pd.read_csv(url_co2)

In [3]:
url_RE_per_capita = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/renewable-electricity-per-capita.csv'
RE_per_capita_df=pd.read_csv(url_RE_per_capita)

In [5]:
CO2_emissions_df.head(10)

        Entity Code  Year  Annual CO2 emissions (per capita)
0  Afghanistan  AFG  1949                             0.0019
1  Afghanistan  AFG  1950                             0.0109
2  Afghanistan  AFG  1951                             0.0117
3  Afghanistan  AFG  1952                             0.0115
4  Afghanistan  AFG  1953                             0.0132
5  Afghanistan  AFG  1954                             0.0130
6  Afghanistan  AFG  1955                             0.0186
7  Afghanistan  AFG  1956                             0.0218
8  Afghanistan  AFG  1957                             0.0343
9  Afghanistan  AFG  1958                             0.0380

In [6]:
RE_per_capita_df.head(10)

        Entity Code  Year  Renewable electricity per capita (kWh)
0  Afghanistan  AFG  2000                                  14.918
1  Afghanistan  AFG  2001                                  23.141
2  Afghanistan  AFG  2002                                  24.778
3  Afghanistan  AFG  2003                                  26.604
4  Afghanistan  AFG  2004                                  22.648
5  Afghanistan  AFG  2005                                  22.998
6  Afghanistan  AFG  2006                                  24.212
7  Afghanistan  AFG  2007                                  27.675
8  Afghanistan  AFG  2008                                  19.479
9  Afghanistan  AFG  2009                                  27.470

In [7]:
Climate_data_complete_per_capita_df = pd.merge(CO2_emissions_df, RE_per_capita_df)
Climate_data_complete_per_capita_df.head(60)

,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh)
0,Afghanistan,AFG,2000,0.0365,14.918
1,Afghanistan,AFG,2001,0.0369,23.141
2,Afghanistan,AFG,2002,0.0465,24.778
3,Afghanistan,AFG,2003,0.0501,26.604
4,Afghanistan,AFG,2004,0.0360,22.648
5,Afghanistan,AFG,2005,0.0508,22.998
6,Afghanistan,AFG,2006,0.0619,24.212
7,Afghanistan,AFG,2007,0.0837,27.675
8,Afghanistan,AFG,2008,0.1515,19.479
9,Afghanistan,AFG,2009,0.2374,27.470
10,Afghanistan,AFG,2010,0.2877,25.698
11,Afghanistan,AFG,2011,0.4020,19.922
12,Afghanistan,AFG,2012,0.3279,23.747
13,Afghanistan,AFG,2013,0.2616,27.580
14,Afghanistan,AFG,2014,0.2330,29.966
15,Afghanistan,AFG,2015,0.2297,29.930
16,Afghanistan,AFG,2016,0.1906,29.958
17,Afghanistan,AFG,2017,0.1890,30.031
18,Afghanistan,AFG,2018,0.2245,26.095
19,Afghanistan,AFG,2019,0.3193,23.132
20,Afghanistan,AFG,2020,0.3124,16.954
21,Africa,NaN,2000,1.0936,95.341
22,Africa,NaN,2001,1.0645,101.444
23,Africa,NaN,2002,1.0489,101.457
24,Africa,NaN,2003,1.1094,97.575
25,Africa,NaN,2004,1.1603,101.360
26,Africa,NaN,2005,1.1547,101.719
27,Africa,NaN,2006,1.1613,102.703
28,Africa,NaN,2007,1.1763,102.531
29,Africa,NaN,2008,1.1968,102.134
30,Africa,NaN,2009,1.1762,103.283
31,Africa,NaN,2010,1.1725,112.469
32,Africa,NaN,2011,1.1809,110.933
33,Africa,NaN,2012,1.1456,109.445
34,Africa,NaN,2013,1.1227,112.987
35,Africa,NaN,2014,1.1837,120.744
36,Africa,NaN,2015,1.1191,120.429
37,Africa,NaN,2016,1.1189,118.496
38,Africa,NaN,2017,1.1131,122.149
39,Africa,NaN,2018,1.0865,127.751
40,Africa,NaN,2019,1.0772,128.136
41,Africa,NaN,2020,0.9896,130.300
42,Albania,ALB,1990,1.6569,867.297
43,Albania,ALB,1991,1.2889,1073.041
44,Albania,ALB,1992,0.7687,995.105
45,Albania,ALB,1993,0.7247,1035.930
46,Albania,ALB,1994,0.6078,1198.150
47,Albania,ALB,1995,0.6638,1349.214
48,Albania,ALB,1996,0.6432,1849.163
49,Albania,ALB,1997,0.4941,1622.713
50,Albania,ALB,1998,0.5607,1581.638
51,Albania,ALB,1999,0.9528,1690.844
52,Albania,ALB,2000,0.9601,1466.807
53,Albania,ALB,2001,1.0291,1137.489
54,Albania,ALB,2002,1.1990,1122.775
55,Albania,ALB,2003,1.3572,1568.304
56,Albania,ALB,2004,1.3217,1761.735
57,Albania,ALB,2005,1.3603,1739.660
58,Albania,ALB,2006,1.2548,1772.760
59,Albania,ALB,2007,1.2620,919.580

In [8]:
 len(Climate_data_complete_per_capita_df["Entity"].unique())

214

In [9]:
 len(Climate_data_complete_per_capita_df["Code"].unique())

204

In [10]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Africa', 'Code'] = "AFR"

In [11]:

Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Asia', 'Code'] = "ASI"

In [12]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Europe', 'Code'] = "EUR"

In [13]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'European Union (27)', 'Code'] = "EURU"

In [14]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'High-income countries', 'Code'] = "HIC"

In [15]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Low-income countries', 'Code'] = "LICS"

In [16]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Lower-middle-income countries', 'Code'] = "LMIC"

In [17]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'North America', 'Code'] = "NA"

In [18]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Oceania', 'Code'] = "OCE"

In [19]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'South America', 'Code'] = "SA"

In [20]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df.Entity == 'Upper-middle-income countries', 'Code'] = "UMINC"

In [21]:
Climate_data_complete_per_capita_df.drop(Climate_data_complete_per_capita_df.index[Climate_data_complete_per_capita_df['Renewable electricity per capita (kWh)'] == 0], inplace=True)

In [31]:
Climate_data_complete_per_capita_df.to_csv('./Database/Clean/Climate_data_complete_per_capita.csv')

In [23]:
Climate_data_complete_per_capita_df

,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh)
0,Afghanistan,AFG,2000,0.0365,14.918
1,Afghanistan,AFG,2001,0.0369,23.141
2,Afghanistan,AFG,2002,0.0465,24.778
3,Afghanistan,AFG,2003,0.0501,26.604
4,Afghanistan,AFG,2004,0.0360,22.648
...,...,...,...,...,...
7226,Zimbabwe,ZWE,2016,0.7653,236.630
7227,Zimbabwe,ZWE,2017,0.6730,299.229
7228,Zimbabwe,ZWE,2018,0.8210,373.992
7229,Zimbabwe,ZWE,2019,0.7476,522.346
7230,Zimbabwe,ZWE,2020,0.7086,514.703

In [33]:
Climate_data_complete_per_capita_df.loc[Climate_data_complete_per_capita_df['Code'] == 'HIC'].tail()

,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh)
2694,High-income countries,HIC,2016,11.1746,2095.573
2695,High-income countries,HIC,2017,11.0732,2200.294
2696,High-income countries,HIC,2018,11.0651,2284.591
2697,High-income countries,HIC,2019,10.7568,2354.986
2698,High-income countries,HIC,2020,9.7761,2535.614