In [1]:
# Add the Pandas dependency.
import pandas as pd
import numpy as np

In [2]:
url_co2 = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/co-emissions-per-capita.csv'
CO2_emissions_df = pd.read_csv(url_co2)

In [5]:
url_RE_gen = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/renewable-energy-gen.csv'
RE_gen_df=pd.read_csv(url_RE_gen)

In [6]:
CO2_emissions_df.head(10)

        Entity Code  Year  Annual CO2 emissions (per capita)
0  Afghanistan  AFG  1949                             0.0019
1  Afghanistan  AFG  1950                             0.0109
2  Afghanistan  AFG  1951                             0.0117
3  Afghanistan  AFG  1952                             0.0115
4  Afghanistan  AFG  1953                             0.0132
5  Afghanistan  AFG  1954                             0.0130
6  Afghanistan  AFG  1955                             0.0186
7  Afghanistan  AFG  1956                             0.0218
8  Afghanistan  AFG  1957                             0.0343
9  Afghanistan  AFG  1958                             0.0380

In [10]:
RE_gen_df.head(10)

,Entity,Code,Year,Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
0,Africa,NaN,1965,0.0,0.0,13.905635,0.000
1,Africa,NaN,1966,0.0,0.0,15.510004,0.000
2,Africa,NaN,1967,0.0,0.0,16.190636,0.000
3,Africa,NaN,1968,0.0,0.0,18.938341,0.000
4,Africa,NaN,1969,0.0,0.0,22.100890,0.000
5,Africa,NaN,1970,0.0,0.0,27.630430,0.000
6,Africa,NaN,1971,0.0,0.0,26.013391,0.164
7,Africa,NaN,1972,0.0,0.0,29.633196,0.165
8,Africa,NaN,1973,0.0,0.0,31.345708,0.170
9,Africa,NaN,1974,0.0,0.0,35.667074,0.175

In [9]:
Climate_data_complete_generated_df = pd.merge(CO2_emissions_df, RE_gen_df)
Climate_data_complete_generated_df.head(60)

,Entity,Code,Year,Annual CO2 emissions (per capita),Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
0,Africa,NaN,1965,0.6750,0.000000,0.000000,13.905635,0.000000
1,Africa,NaN,1966,0.6814,0.000000,0.000000,15.510004,0.000000
2,Africa,NaN,1967,0.7124,0.000000,0.000000,16.190636,0.000000
3,Africa,NaN,1968,0.7541,0.000000,0.000000,18.938341,0.000000
4,Africa,NaN,1969,0.7938,0.000000,0.000000,22.100890,0.000000
5,Africa,NaN,1970,0.8426,0.000000,0.000000,27.630430,0.000000
6,Africa,NaN,1971,0.9003,0.000000,0.000000,26.013391,0.164000
7,Africa,NaN,1972,0.9284,0.000000,0.000000,29.633196,0.165000
8,Africa,NaN,1973,0.9716,0.000000,0.000000,31.345708,0.170000
9,Africa,NaN,1974,0.9722,0.000000,0.000000,35.667074,0.175000
10,Africa,NaN,1975,0.9438,0.000000,0.000000,37.717970,0.172000
11,Africa,NaN,1976,0.9966,0.000000,0.000000,41.797633,0.185000
12,Africa,NaN,1977,0.9995,0.000000,0.000000,45.928768,0.189000
13,Africa,NaN,1978,1.0380,0.000000,0.000000,46.306939,0.195000
14,Africa,NaN,1979,1.0894,0.000000,0.000000,49.565233,0.201000
15,Africa,NaN,1980,1.1366,0.000000,0.000000,48.311784,0.207000
16,Africa,NaN,1981,1.1315,0.000000,0.000000,50.192906,0.218000
17,Africa,NaN,1982,1.1465,0.000000,0.000000,50.206237,0.236000
18,Africa,NaN,1983,1.1590,0.000000,0.000000,45.247160,0.230000
19,Africa,NaN,1984,1.2304,0.000000,0.000000,44.489973,0.234000
20,Africa,NaN,1985,1.2263,0.000000,0.000000,49.449685,0.269000
21,Africa,NaN,1986,1.2352,0.000000,0.000000,51.145373,0.659000
22,Africa,NaN,1987,1.2011,0.000000,0.000000,49.056460,0.658000
23,Africa,NaN,1988,1.2277,0.000000,0.000000,53.593456,0.626000
24,Africa,NaN,1989,1.1502,0.000000,0.000000,56.276215,0.617000
25,Africa,NaN,1990,1.0524,0.000000,0.000000,57.254659,0.808000
26,Africa,NaN,1991,1.0685,0.000000,0.000000,60.651488,0.824000
27,Africa,NaN,1992,1.0101,0.000000,0.000000,57.860292,0.854250
28,Africa,NaN,1993,1.0434,0.000000,0.002000,56.682507,0.939700
29,Africa,NaN,1994,1.0292,0.000000,0.005400,57.596049,0.837000
30,Africa,NaN,1995,1.0767,0.000000,0.006300,59.768877,1.020700
31,Africa,NaN,1996,1.0655,0.000000,0.007100,62.316459,1.260093
32,Africa,NaN,1997,1.0789,0.000000,0.007200,63.852498,1.388640
33,Africa,NaN,1998,1.0853,0.000000,0.007600,66.654888,1.714549
34,Africa,NaN,1999,1.0495,0.000000,0.019800,70.684261,1.696125
35,Africa,NaN,2000,1.0936,0.011941,0.175500,75.245817,2.269063
36,Africa,NaN,2001,1.0645,0.014960,0.415580,80.864115,2.335353
37,Africa,NaN,2002,1.0489,0.017871,0.443584,85.181468,2.286400
38,Africa,NaN,2003,1.1094,0.021329,0.535599,82.872601,2.622400
39,Africa,NaN,2004,1.1603,0.025761,0.768281,87.405469,2.978850
40,Africa,NaN,2005,1.1547,0.030676,0.780382,89.065734,3.009669
41,Africa,NaN,2006,1.1613,0.038957,0.852566,92.244353,3.770405
42,Africa,NaN,2007,1.1763,0.051533,1.016223,95.340562,3.142048
43,Africa,NaN,2008,1.1968,0.073232,1.311778,97.157209,3.267396
44,Africa,NaN,2009,1.1762,0.096153,1.589231,99.761137,3.562722
45,Africa,NaN,2010,1.1725,0.212521,2.284582,107.426833,3.825407
46,Africa,NaN,2011,1.1809,0.601454,2.386504,110.444821,3.929657
47,Africa,NaN,2012,1.1456,0.994443,2.515630,110.952300,4.085025
48,Africa,NaN,2013,1.1227,0.788910,3.593447,117.638846,4.430894
49,Africa,NaN,2014,1.1837,1.937700,5.060073,123.726795,5.521056
50,Africa,NaN,2015,1.1191,3.592173,8.910686,120.167836,7.191202
51,Africa,NaN,2016,1.1189,5.120197,11.176371,116.718805,7.281251
52,Africa,NaN,2017,1.1131,6.902447,12.457774,125.816522,7.653766
53,Africa,NaN,2018,1.0865,8.295434,14.770723,133.140498,8.097891
54,Africa,NaN,2019,1.0772,10.906902,18.857729,137.215511,8.228082
55,Africa,NaN,2020,0.9896,12.407782,21.789843,142.574996,8.068135
56,Algeria,DZA,1965,0.5249,0.000000,0.000000,0.400000,0.000000
57,Algeria,DZA,1966,0.6526,0.000000,0.000000,0.355000,0.000000
58,Algeria,DZA,1967,0.6351,0.000000,0.000000,0.410000,0.000000
59,Algeria,DZA,1968,0.6624,0.000000,0.000000,0.563000,0.000000

In [11]:
 len(Climate_data_complete_generated_df["Entity"].unique())

83

In [12]:
 len(Climate_data_complete_generated_df["Code"].unique())

81

In [13]:
Climate_data_complete_generated_df.loc[Climate_data_complete_generated_df.Entity == 'Africa', 'Code'] = "AFR"

In [14]:
Climate_data_complete_generated_df.loc[Climate_data_complete_generated_df.Entity == 'Europe', 'Code'] = "EUR"

In [15]:
Climate_data_complete_generated_df.loc[Climate_data_complete_generated_df.Entity == 'European Union (27)', 'Code'] = "EURU"

In [16]:
Climate_data_complete_generated_df.drop(Climate_data_complete_generated_df.index[Climate_data_complete_generated_df['Solar Generation - TWh'] == 0], inplace=True)

In [17]:
Climate_data_complete_generated_df.drop(Climate_data_complete_generated_df.index[Climate_data_complete_generated_df['Hydro Generation - TWh'] == 0], inplace=True)

In [18]:
Climate_data_complete_generated_df.drop(Climate_data_complete_generated_df.index[Climate_data_complete_generated_df['Wind Generation - TWh'] == 0], inplace=True)

In [19]:
Climate_data_complete_generated_df.drop(Climate_data_complete_generated_df.index[Climate_data_complete_generated_df['Geo Biomass Other - TWh'] == 0], inplace=True)

In [22]:
Climate_data_complete_generated_df.to_csv('./Database/Clean/Climate_data_complete_generated.csv')

In [21]:
Climate_data_complete_generated_df

,Entity,Code,Year,Annual CO2 emissions (per capita),Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
35,Africa,AFR,2000,1.0936,0.011941,0.175500,75.245817,2.269063
36,Africa,AFR,2001,1.0645,0.014960,0.415580,80.864115,2.335353
37,Africa,AFR,2002,1.0489,0.017871,0.443584,85.181468,2.286400
38,Africa,AFR,2003,1.1094,0.021329,0.535599,82.872601,2.622400
39,Africa,AFR,2004,1.1603,0.025761,0.768281,87.405469,2.978850
...,...,...,...,...,...,...,...,...
4382,World,OWID_WRL,2016,4.7496,328.385208,962.227395,4018.671591,560.681082
4383,World,OWID_WRL,2017,4.7595,446.054164,1140.310949,4066.718275,593.790980
4384,World,OWID_WRL,2018,4.8022,576.951248,1269.520536,4176.687496,632.173911
4385,World,OWID_WRL,2019,4.7582,707.918495,1418.170046,4227.883280,663.134292
4386,World,OWID_WRL,2020,4.4654,855.724690,1591.213512,4296.802045,700.068651